@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Project

<h1 class="display-4">Project Info</h1>
<ul class="list-group">
    <li class="list-group-item">ID: @Model.ProjectNumber</li>
    <li class="list-group-item">Name: @Model.ProjectName</li>
    <li class="list-group-item">Project Location: @Model.ProjectLocation</li>
    <li class="list-group-item">Department: @Model.Department.DeptName</li>
</ul>
<br />
<a href="/Project/ShowProjects" class="btn btn-primary">Show Projects</a>





@*
<h1>Project Info</h1>
<ul>
    <li> ID: @Model.ProjectNumber</li>
    <li>Name: @Model.ProjectName</li>
    <li>Project Location: @Model.ProjectLocation</li>
    <li>Department: @Model.Department.DeptName</li>
</ul>
<br />
<a href="/Project/ShowProjects">Show Projects</a>*@