@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Update Dependent</h1>

<form action="/Employee/UpdateDependentDB" method="post">
    <input id="EmpSSN" name="EmpSSN" value="@Model.EmpSSN" hidden />
    <input id="DependName" name="DependName" value="@Model.DependName" hidden />

    <div class="form-group">
        <label for="DependName">Dependent Name:</label>
        <input type="text" name="DependName" id="DependName" value="@Model.DependName" disabled/>
    </div>
    <div class="form-group">
        <label for="DependBirthDate">Birth Date:</label>
        <input type="date" name="DependBirthDate" id="DependBirthDate" value="@Model.DependBirthDate" />
    </div>
    <div class="form-group">
        <label for="DependSex">Sex:</label>
        <select name="DependSex" id="DependSex">
            @if (Model.DependSex == "M")
            {
                <option value="M" selected>Male</option>
                <option value="F">Female</option>
            }
            else
            {
                <option value="M">Male</option>
                <option value="F" selected>Female</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="Relationship">Relationship:</label>
        <input type="text" name="Relationship" id="Relationship" value="@Model.Relationship" />
    </div>

    <input type="submit" value="Update" />
</form>
